@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

* {
    margin: 0;
}

body {
    overflow: hidden;
}

.relative-container {
    height: 100vh;
    font-family: 'Homemade Apple', sans-serif;
    background: url('./img/best-cat.jpg') no-repeat center center/cover;  
}

.container {
    position: absolute;
    top: 40px;
    left: 60px;
    font-size: 40px;
}

span {
    background: url('./img/heart.png');
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events:  none;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animate 6s linear;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0)
    }
    100% {
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg)
    }
}